.container {
    display: flex;
    justify-content: center;
}

.box {
    max-width: 1500px;
    width: 90%;
}

.marks-table {
    margin: 30px 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.flex-box {
    display: flex;
}

.row {
    width: 50%;
    border-left: 1px solid black;
}

.row div {
    padding: 5px;
}

.table-title {
    box-sizing: border-box;
    padding: 5px;
    width: 50%;
    text-align: center;
}

.mark {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.row-line {
    border-bottom: 1px solid black;
    box-sizing: border-box;
    width: 100%;
}