{% extends "main/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'main/css/student/student-marks.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/marks.css' %}">

    <div style="text-align: center">
        <h1>{% trans 'Оценки' %}</h1>
        <h2>{% trans 'Предмет' %}: {{ data.module_name }}</h2>
        {% if data.teachers|length_is:1 %}
            <h3>{% trans 'Преподаватель' %}: {{ data.teachers.first }}</h3>
        {% elif data.teachers|length > 1 %}
            <h3>{% trans 'Преподаватели' %}: {{ data.teachers|join:", " }}</h3>
        {% endif %}
    </div>

    <div class="container">
        <div class="box">
            {% for table in data.tables %}
                <div class="marks-table">
                    {% for topic in table.marks %}
                        <div class="flex-box">
                            <div class="table-title">{% trans 'Тема' %}: {{ topic.title }}</div>

                            <div class="row">
                                {% if marks_rating.good_min <= topic.mark and topic.mark <= marks_rating.good_max %}
                                    <div class="mark"><div class="good-mark">{{ topic.mark }}</div></div>
                                {% elif marks_rating.mid_min <= topic.mark and topic.mark <= marks_rating.mid_max %}
                                    <div class="mark"><div class="mid-mark">{{ topic.mark }}</div></div>
                                {% elif topic.mark < marks_rating.mid_min %}
                                    <div class="mark"><div class="bad-mark">{{ topic.mark }}</div></div>
                                {% elif not topic.mark %}
                                    <div class="mark"><div class="bad-mark">{% trans 'н' %}</div></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row-line"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}