{% extends "main/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'main/css/teacher/teacher.css' %}">

    <div class="container">
        <div class="max-width">
            {% include 'main/teacher/teacher-aside.html' %}

            <div class="dashboard-panel">
                <h1>{% trans 'Объявления' %}</h1>
                {% if not notifs %}
                    <h2>{% trans 'Пусто' %}</h2>
                {% endif %}

                <div class="t-items">
                    {% for i in notifs %}
                        <div class="notif-box">
                            <div class="date-time-notif">{{ i.date_time }}</div>
                            <div class="notif-content">{{ i.content }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}