{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/list-view.css' %}">

<div class="container">
    <h1 class="item-title">{% trans 'Темы' %}</h1>
</div>

<div class="container">
    <a href="{% url 'add-topic' module_id=module.pk %}" class="info-button" style="margin: 0 0 20px 0">+ {% trans 'Добавить тему' %}</a>
    <a href="{% url 'add-topic-file' %}" class="info-button" style="margin: 0 0 20px 10px">+ {% trans 'Добавить темы с файла Excel' %}</a>
</div>

<div class="container">
    <div class="box">
        <h2>{% trans 'Предмет' %}: {{ module }}</h2>

        {% if not topics %}
            <h1>{% trans 'Пусто' %}</h1>
        {% endif %}

        <ul>
            {% for topic in topics %}
                <div class="item">
                    <a href="{{ topic.get_absolute_url }}" class="link-width">
                        <div class="item-box">
                            <div class="name">{% trans 'Имя' %}: {{ topic.name }}</div>
                            <div>{% trans 'Количество учебных часов' %}: {{ topic.hours }}</div>
                        </div>
                    </a>
                    <div class="item-buttons">
                        {% if topic.unit %}
                            <a href="{{ topic.module.get_absolute_url }}" class="info-button">{% trans 'Редактировать предмет' %}</a>
                        {% endif %}
                        <a href="{% url 'delete-topic' pk=topic.pk %}" class="delete-button">{% trans 'Удалить тему' %}</a>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}